$primary-color: #007BFF;
$secondary-color: #6F42C1;
$background-light: #F8F9FA;
$background-dark: #343A40;
$text-dark: #212529;
$text-light: #FFFFFF;
$success-color: #28A745;
$warning-color: #FFC107;
$danger-color: #DC3545;
$info-color: #17A2B8;
$muted-text: #6C757D;

$fs-1: 2rem;
$fs-2: 1.75rem;
$fs-3: 1.5rem;
$fs-4: 1.25rem;